<div ng-controller="MainCtrl" id="main-top">
	<div class="jumbotron"style="margin:10px">
	<style>
    h1 {
       color: white;
       text-align: center;
       font-size: 60px;
    }
    h2{
       color: white;
       text-align: center;	
       font-size: 30px;
    }
  
   </style>	
   
   <h1 style="background-color:#004d00">
   	 POPULEYES
  </h1>  
  <h2 style="background-color:#004d00">
   	 <p>"Travel the world through other people's eyes!"</p>
  </h2>  
  
</div>
	<div> 
		<select ng-model="locations.choice" ng-options="o as o for o in locations.options" n></select>
		<button style="width:100px; height:30px; background-color:orange;" ng-click="search()">Search</button>
	</div>
	<br>
	<br>
	<br>
	<br>
	<img src="/images/us-map.gif" alt="United States" style="">
	<div ng-repeat="src in photos">
		<img style="width:200px; height:200px;" src="{{src}}" alt="Description"/>
	</div>
	<!--<div style="height:100px; width:100px; cursor: pointer; background:black; color:white;" ng-click="hitInstragram()"><h3>Click to hit Instragram</h3></div>-->
</div>


