<div ng-controller="MainCtrl" id="main-top">
	<div>
	<div class="jumbotron"style="margin:10px">
<style>

    h2{
       color: white;
       text-align: center;	
       font-size: 30px;
    }
  
   </style>	
   
  <div class="header">
  <h> POPULEYES </h>
  </div>



  <h2 style="background-color:#004d00">
   	 <p>"Travel the world through other people's eyes!"</p>
  </h2>  
  
</div>

	
	<div class="leftSection">
	<button type="button">Select City</button>
		Insert Button here <br>
		Insert Dropdown here
	</div>

	<img src="/images/us-map.gif" alt="United States" style="">
</div>


