.test {
	color:blue;
}

.header {
<<<<<<< HEAD
      color: white;
      text-align: center;
      font-size: 60px;
      background-color:#004d00
}

.leftSection {
	background-color:#00b3b3;
	width:350px;
    float:left;
    padding:10px;
 
}
.subheader {
  color: white;
  text-align: center;  
  font-size: 30px;
  background-color:#004d00;
}

