.test {
	color:blue;
}

.header {
  background-color:#004d00;
  font-size: 60px;
  color:white;
  text-align:center;
 
}
.subheader {
  color: white;
  text-align: center;  
  font-size: 30px;
  background-color:#004d00;
}
.section {
	background-color:#00b3b3;
	width:350px;
    float:left;
    padding:10px;
}